
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');


.alku-teksti {
    margin-top: 2em;
    margin-left: 15em;
    margin-right: 15em;
}

.container h2 { 
    font-family: 'Berkshire Swash', serif;
    margin-bottom: 1.5em;
    margin-top: 2em;
    text-shadow: 0 0 10px rgb(238, 238, 238);
    font-weight: 200;
}

.container {
    color: rgb(51, 33, 4);
    font-family: 'Berkshire Swash', serif;
    background-image: url("../images/old_paper_BG_1.webp");
    background-repeat: repeat-y;
    padding: 2em;
    border-style: none;
    border-radius: 1em;
    box-shadow: 0 0 20px black;
    padding-bottom: 3em;
    padding-left: 3em;
    padding-right: 3em;
}

.container p {
    text-shadow: 0 0 10px #e4e4e4;
    font-size: larger;
    font-weight: 100;
}

.container img {
    border: none;
    border-radius: 0;
    box-shadow: none;
    max-width: 100%;
    max-height: 100%;
}


