
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');


h1 {
    text-shadow: 0 0 10px #855c71;
}

h2 { 
    font-family: 'Megrim', cursive;
    margin-bottom: 1.5em;
    margin-top: 2em;
    text-shadow: 0 0 10px rgb(146, 146, 146);
}

.container {
    color: black;
    font-family: 'Rochester', cursive;
    background-image: url("../images/old_paper_BG_1.webp");
    background-repeat: repeat-y;
    padding: 2em;
    border-style: none;
    border-radius: 1em;
    box-shadow: 0 0 20px black;
    padding-bottom: 3em;
    padding-left: 3em;
    padding-right: 3em;
}

.container p {
    text-shadow: 0 0 10px #a79a9a;
    font-size: larger;
}

.container img {
    border: none;
    border-radius: 0;
    box-shadow: none;
    max-width: 100%;
    max-height: 100%;
}


