
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

/* MAIN CONTENT */
/* NAVBAR ------------------------------------------------- */
div.navbar {
    background-color: #20141c;
    margin: 0;
    margin-bottom: 2em;
    padding: 0;
    display: flex;
    justify-content: space-around;  
    box-shadow: 0 0 10px #13010d;
}

ul.navbar {
    display: flex;
    margin: 0;
    padding: 0;
}

li.navbar {
    display: flex;
    margin: 0em;
    padding: 0em;
}

a.navbar {
    font-family: "Space mono", monospace;
    transition: color 0.8s ease 0s, text-shadow 0.7s ease 0s;
    display: block;
    margin: 0em;
    padding: 1.4em;
    padding-bottom: 0.8em;
    padding-top: 0.8em;
    list-style-position: inside;
    border: none;
    font-size: 1.2em;
}

a.navbar:link {
    color: #FFF2F9;
    text-decoration: none;
    background-color: #20141c;
    text-shadow: 0 0 50px #A91079;
}

a.navbar:visited {
    color: #FFF2F9;
    text-shadow: 0 0 10px #A91079;
    text-decoration: none;
    background-color: #20141c;
}

a.navbar:hover {
    color: #FE83C6;
    text-decoration: none;
    background-color: #20141c;
    text-shadow: 0 0 10px #FE83C6;
    /* font-size: 1.3em; */
}

a.navbar:active {
    color: rgb(99, 6, 102);
    text-decoration: none;
    background-color: #20141c;
}

/* Current Page NAVBAR */

a.active:link {
    color: #FE83C6;
    text-decoration: none;
    background-color: #20141c;
}

a.active:visited {
    color: #FE83C6;
    text-decoration: none;
    background-color: #20141c;
}


/* BODY ------------------------------------------------- */

header {
    margin: 0;
    padding: 0;
    background-color: none;
    font-family: "Assistant", serif;
    position: sticky;
    top: 0px;
    transition: top 0.3s;
}

body {
    background-color: #382833;
    font-family: "Assistant", serif;
    color: #FE83C6;
    padding: 0;
    margin: 0;
    background-image: url("../images/main_BG_1.png");
}

content {
    opacity: 0;
}

h1 {
    font-family: 'Press Start 2P', serif;
    text-align: center;
    text-shadow: 0 0 10px #855c71;
}

h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 400;
}
 
.container {
    margin-left: 15em;
    margin-right: 15em;
    margin-top: 4em;
}

.img-container {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.container img {
    height: 10em;
    border-radius: 1.5em;
    border-style: solid;
    border-color: #20141c;
    border-width: 0.2em;
    padding: 0;
    margin-right: 1em;
    box-shadow: 0 0 20px #20141c;
}  

.container h2 {
    text-align: center;
}

.container p {
    font-size: 20px;
}

footer {
    margin-top: 5em;
}

footer p {
    color: #160912;
    text-align: center;
    font-family: 'Sono', sans-serif;
}


/* SCROLLBAR  ------------------------------------------------------------------ */
::-webkit-scrollbar {
    width: 1.4em;
}

::-webkit-scrollbar-track {
    background-color: #160912;
}

::-webkit-scrollbar-thumb {
    border: 0.22em solid #160912;
    border-right: 0.15em;
    background-color: #382833;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #855c71;
}

