


body {
    background-image: url("../images/main_BG_1.png");
}

/* MAINOS =============================================== */

iframe {
    border-color: #A91079;
    width: 99%;
}

div.mainos {
    position: relative;
    left: 30%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-inline: 3em;
    padding-block: 1em;
    background-color: #20141c;
    box-shadow: 0 0 100vh 100vh rgba(29, 24, 24, 0.3);
    max-width: 35%;
    border-color: #855c71;
    border-style: solid;
}

a.exit_mainos {
    position: absolute;
    top: 1%;
    right: 2%;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    color: #160912;
    border-color: #251e23;
    background-color: #695162;
    border-style: dashed;
    padding-inline: 0.3em;
    padding-block: 0;
    margin-top: 0.2em;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

a.exit_mainos:hover {
    background-color: #A91079;
    color: #13010d;
}

img.mainos {
    margin-top: 0.5em;
    width: 99%;
    border-color: #A91079;
    border-style: solid;
}


