
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 7.5vmin;
    background-image: url("../../images/main_BG_1.png");
  }


  .takaisin {
    font-family: 'Press Start 2P', serif;
    position: absolute;
    top: 1em;
    left: 1em;
    background-color: rgb(122, 20, 20);
    color: rgb(30, 14, 44);
    text-decoration: none;
    padding: 0.3em;
    border-radius: 100vh;
    transition: all 0.4s ease 0s;
    font-size: 0.4em;
    cursor: pointer;
}

.takaisin:hover {
    background-color: rgb(170, 29, 29);
}
  
  #game-board {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    background-color: #CCC;
    gap: var(--cell-gap);
    border-radius: 1vmin;
    padding: var(--cell-gap);
    position: relative;
  }
  
  .cell {
    background-color: #AAA;
    border-radius: 1vmin;
  }
  
  .tile {
    --bg-src: url("./images/kaisa_2.jpg");
    --text-color: "rbg(255, 255, 255)";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 1vmin;
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    animation: show 200ms ease-in-out;
    transition: 100ms ease-in-out;  
    background-image: var(--bg-src);
    background-size: var(--cell-size);
    font-weight: 100;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    /* color: var(--text-color); */
  }
  
  @keyframes show {
    0% {
      opacity: .5;
      transform: scale(0);
    }
  }

