@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
}

.topbar {
    background-color: #571e3d;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    margin: 0;
    position: relative;
}

.high-score-text {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 30%;
}

.link {
    margin: 0.5em;
    display: inline-block;
    background-color: rgb(122, 20, 20);
    color: rgb(30, 14, 44);
    text-decoration: none;
    padding: 0.3em;
    border-radius: 100vh;
    transition: all 0.4s ease 0s;
}
.link:hover {
    background-color: rgb(170, 29, 29);
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Press Start 2P', serif;
    background-color: #20141c;
    color:antiquewhite;
}

.world {
    user-select: none;
    overflow: hidden;
    position: relative;
}

.score-text {
    position: absolute;
    font-size: 3vmin;
    right: 3vmin;
    top: 3vmin;
}

.score {
    position: absolute;
    font-size: 3vmin;
    right: 4vmin;
    top: 7vmin;
}

.start-screen {
    position: absolute;
    font-size: 5vmin;
    right: -30%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
}

.hide {
    display: none;
}

.ground {
    --left: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: calc(var(--left) * 1%)
}

.turri {
    --bottom: 0;
    position: absolute;
    left: 1%;
    height: 30%;
    bottom: calc(var(--bottom) * 1%);
}

.este {
    position: absolute;
    left: calc(var(--left) * 1%);
    height: 30%;
    bottom: 0;
}

